<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On

    # redirect to https www
    RewriteCond %{HTTPS} off
    RewriteCond %{HTTP_HOST} ^(?:www\.)(admin14\.ru)$ [NC]
    RewriteRule ^ https://%1%{REQUEST_URI} [R=301,L]

    # redirect to http subdomain
    RewriteCond %{HTTPS} on
    RewriteCond %{HTTP_HOST} ^((?!www).+\.admin14\.ru)$ [NC]
    RewriteRule ^ http://%1%{REQUEST_URI} [R=301,L]

</IfModule>

<IfModule mod_rewrite.c>
    # deal with admin first
    RewriteCond %{REQUEST_URI} ^/(admin)
    RewriteRule ^admin/assets/(.*)$ backend/web/assets/$1 [L]
    RewriteRule ^admin/plugins/(.*)$ backend/web/plugins/$1 [L]
    RewriteRule ^admin/css/(.*)$ backend/web/css/$1 [L]
    RewriteRule ^admin/js/(.*)$ backend/web/js/$1 [L]
    RewriteRule ^admin/img/(.*)$ backend/web/img/$1 [L]
    RewriteRule ^admin/images/(.*)$ backend/web/images/$1 [L]
    RewriteRule ^admin/uploads/(.*)$ backend/web/uploads/$1 [L]
    RewriteRule ^admin/fonts/(.*)$ backend/web/fonts/$1 [L]

    RewriteCond %{REQUEST_URI} !^/backend/web/(assets|css|js|fonts|plugins|images|img)/
    RewriteCond %{REQUEST_URI} ^/(admin)
    RewriteRule ^.*$ backend/web/index.php [L]

    RewriteCond %{REQUEST_URI} ^/(assets|css|js|images)
    RewriteRule ^assets/(.*)$ frontend/web/assets/$1 [L]
    RewriteRule ^css/(.*)$ frontend/web/css/$1 [L]
    RewriteRule ^js/(.*)$ frontend/web/js/$1 [L]
    RewriteRule ^images/(.*)$ frontend/web/images/$1 [L]
    RewriteRule ^img/(.*)$ frontend/web/img/$1 [L]
    RewriteRule ^(.*)$ frontend/web/$1 [L]

    RewriteCond %{REQUEST_URI} !^/(frontend|backend)/web/(assets|css|js|plugins|img|images)/
    RewriteCond %{REQUEST_URI} !index.php
    RewriteCond %{REQUEST_FILENAME} !-f [OR]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^.*$ frontend/web/index.php
</IfModule> 